---
import BasePage from "../layouts/BasePage.astro";
const { error } = Astro.props;
---

<BasePage title="Failure to clip | yazzy">
	<h1 class="text-3xl">500: My scissors broke!</h1>
	<p>I can't clip that page!</p>
	<code>{error}</code>
</BasePage>
