@tailwind base;
@tailwind components;
@tailwind utilities;

#controls:has(#view-html:checked) ~ main {
	> *:not(#html-content) {
		display: none;
	}
	> #html-content {
		display: block;
	}
}

#controls:has(#view-plaintext:checked) ~ main {
	> *:not(#plaintext-content) {
		display: none;
	}
	> #plaintext-content {
		display: block;
	}
}

#controls:has(#view-markdown:checked) ~ main {
	> *:not(#markdown-content) {
		display: none;
	}
	> #markdown-content {
		display: block;
	}
}
