---
import Button from "../components/Button.astro";
import Input from "../components/Input.astro";
import RecentArticles from "../components/RecentArticles.astro";
import BasePage from "../layouts/BasePage.astro";
import { cache } from "../services/cache";

const recentArticles = await cache.getRecentArticles();
---

<BasePage title="yazzy" classes="space-y-2">
	<Fragment slot="head">
		<meta
			name="description"
			content="A simple tool to clip web pages to plain text."
		/>
		<meta name="keywords" content="clipping, markdown, web pages, plain text" />
		<meta
			property="og:description"
			content="A simple tool to clip web pages to plain text."
		/>
		<meta property="og:title" content="yazzy" />
		<meta property="og:type" content="website" />
	</Fragment>

	<header class="space-y-2">
		<p>
			Tired of popups, ads, and other distractions on your page? Just put the
			URL in the box below and yazzy will clean it up so you can focus. You
			can even save it as a Markdown file to keep forever.
		</p>
	</header>
	<form action="/api/clip" method="get" class="flex gap-1 items-center">
		<Input
			type="url"
			id="url"
			name="url"
			required
			placeholder="https://paulgraham.com/submarine.html"
		/>
		<Button type="submit" extraClasses="px-4" variant="primary">
			Clip
		</Button>
	</form>
	<RecentArticles articles={recentArticles} />
</BasePage>
