---
import Hourglass from "./icons/Hourglass.astro";
---

<aside class="prose">
	<details>
		<summary class="cursor-pointer select-none">
			<h2 class="inline-block">
				AI-generated summary{" "}
				<Hourglass class="h-4 inline animate-springy-spin" />
			</h2>
		</summary>
		<div class="flex flex-col gap-1 @container">
			<div class="w-[40cqi] bg-base-50 dark:bg-base-950 px-4 py-2 h-4 animate-pulse" />
			<div class="w-[87cqi] bg-base-50 dark:bg-base-950 px-4 py-2 h-4 animate-pulse" />
			<div class="w-[93cqi] bg-base-50 dark:bg-base-950 px-4 py-2 h-4 animate-pulse" />
			<div class="w-[74cqi] bg-base-50 dark:bg-base-950 px-4 py-2 h-4 animate-pulse" />
			<div class="w-[90cqi] bg-base-50 dark:bg-base-950 px-4 py-2 h-4 animate-pulse" />
		</div>
	</details>
</aside>

