---
import { cache } from "../services/cache";
export const prerender = false;

interface Props {
	class?: string;
}
const { class: classes } = Astro.props;

const articleCount = cache.getArticleCount();
---

<div class={classes}>
	Articles archived: {articleCount}.
</div>
