---
interface LinkProps {
	href: string;
}
interface ButtonProps {
	type: "button" | "submit" | "reset";
}
interface CommonProps {
	class?: string;
	[key: string]: unknown;
}
type Props = (LinkProps | ButtonProps) & CommonProps;
const { props } = Astro;
function isLink(props: Props): props is LinkProps & CommonProps {
	return Boolean((props as LinkProps).href);
}
const classes = [
	"border",
	"dark:border-neutral-700",
	"py-1",
	"px-2",
	"rounded-lg",
	"transition",
	"bg-neutral-50",
	"dark:bg-slate-800",
	"dark:text-neutral-500",
	"text-center",
	"hover:bg-neutral-200",
	"dark:hover:bg-slate-600",
	"active:bg-neutral-400",
	"dark:active:bg-slate-700",
];
---

{
	isLink(props) && (
		<a class:list={[...classes, props.class]} {...props}>
			<slot />
		</a>
	)
}
{
	!isLink(props) && (
		<button class:list={[...classes, props.class]} {...props}>
			<slot />
		</button>
	)
}
