---
interface Props {
	type?: "button" | "submit" | "reset" | "link";
	href?: string;
	extraClasses?: string;
	variant?: "primary" | "secondary";
	[key: string]: unknown;
}

const {
	type = "button",
	href,
	extraClasses = "",
	variant = "secondary",
	...rest
} = Astro.props;

const classes = [
	"px-2 py-1",
	"rounded",
	"transition",
	"text-center",
	"border",
	"cursor-pointer",
];

const variantClasses: Record<"primary" | "secondary", string> = {
	primary:
		"bg-base-900 hover:bg-base-800 active:bg-base-850 border-base-900 text-paper dark:bg-base-900 dark:hover:bg-base-800 dark:active:bg-base-850 dark:border-base-900",
	secondary:
		"bg-paper hover:bg-base-150 active:bg-base-100 border-base-100 dark:bg-base-900 dark:hover:bg-base-800 dark:active:bg-base-850 dark:border-base-900",
};

const className = [...classes, variantClasses[variant], extraClasses]
	.filter(Boolean)
	.join(" ");
---

{type === "link" && href ? (
	<a class={className} href={href} {...rest}>
		<slot />
	</a>
) : (
	<button class={className} type={type} {...rest}>
		<slot />
	</button>
)}

