---
import Button from "./Button.astro";

interface Props {
	contents: string;
	filename: string;
	[key: string]: unknown;
}

const { contents, filename, ...otherProps } = Astro.props;

function stringToBase64(str: string): string {
	const bytes = new TextEncoder().encode(str);
	const binString = Array.from(bytes, (byte) =>
		String.fromCodePoint(byte),
	).join("");
	return btoa(binString);
}

const type = `text/${filename.endsWith(".md") ? "markdown" : "plain"};charset=utf-8`;
const url = `data:${type};base64,${stringToBase64(contents)}`;
---

<Button type="link" href={url} download={filename} {...otherProps}>
	<slot />
</Button>

