---
import { cache } from "../services/cache";
export const prerender = false;
const articleCount = cache.getArticleCount();
---

<footer class="text-xs mt-4">
	<p>
		{articleCount} articles cached
	</p>
</footer>
