---
import { cache } from "../services/cache";
export const prerender = false;

const recentArticles = cache.getRecentArticles().map((article) => {
	let summary = article.summary
		?.replace(/<[^>]*>/g, "")
		.split(/\s+/)
		.slice(0, 20)
		.join(" ");
	if (summary?.length && summary.length > 0) {
		summary += "...";
	}
	return {
		...article,
		summary,
	};
});
---

<section>
	<h2 class="text-lg font-transitional mb-2">What people are reading.</h2>
	<ol
		id="recent-articles"
		class="flex flex-column lg:flex-row flex-wrap gap-2 justify-between"
	>
		{
			recentArticles.map((article) => (
				<li
					class:list={[
						"lg:w-40",
						"md:w-60",
						"flex-auto",
						"p-2",
						"bg-canvas",
						"overflow-hidden",
						"transition",
						"rounded",
						"border",
						"hover:brightness-95",
						"dark:hover:brightness-125",
						"active:brightness-105",
						"dark:active:brightness-90",
					]}
				>
					<a href={`/${article.url}`}>
						<h3 class="font-transitional">{article.title}</h3>
						<p class="text-xs my-1 truncate">{new URL(article.url).hostname}</p>
						<p class="text-xs">{article.summary}</p>
					</a>
				</li>
			))
		}
	</ol>
</section>
