---
import { ViewTransitions } from "astro:transitions";
import Settings from "../components/Settings.astro";
interface Props {
	title: string;
	class?: string;
}
const { title, class: classes } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="color-scheme" content="light dark">
		<title>{title}</title>
		<link rel="manifest" href="/manifest.webmanifest" />
		<link rel="icon" href="/scissors.svg" type="image/svg+xml" />
		<ViewTransitions />
		<slot name="head" />
		<style is:global>
			:root {
				@apply scroll-smooth;
			}
			.primary {
				@apply fill-neutral-400 dark:fill-neutral-100;
			}
			.secondary {
				@apply fill-neutral-900 dark:fill-neutral-500;
			}
			:root {
			}
		</style>
	</head>

	<body
		class={`text-base px-4 lg:px-0`}
	>
		<div class="m-auto max-w-prose my-4">
			<nav
				class="flex items-center mb-4 gap-4 print:hidden"
				transition:animate="slide"
			>
				<div class="mr-auto">
					<h1 class="text-2xl">
						<a href="/">yazzy</a>
					</h1>
					<p class="text-xs">Plain ol' reading</p>
				</div>
				<details class="relative">
					<summary>Settings</summary>
					<div
						class={`absolute -left-10 border-2 p-2 rounded-lg m-2 bg-[Canvas]`}
					>
						<Settings />
					</div>
				</details>
				<a
					href="https://github.com/carterworks/yazzy"
					target="_blank"
					rel="noreferrer"
					class="underline"
				>
					Github
				</a>
			</nav>
			<div class={classes}>
				<slot />
			</div>
		</div>
	</body>
</html>
