---
import { ViewTransitions } from "astro:transitions";
import Settings from "../components/Settings.astro";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<link rel="manifest" href="/manifest.webmanifest" />
		<link rel="icon" href="/scissors.svg" type="image/svg+xml" />
		<ViewTransitions />
	</head>

	<body class="text-base px-4 lg:px-0">
		<div class="m-auto max-w-prose my-4">
			<nav class="flex items-center mb-4 gap-4" transition:animate="slide">
				<div class="mr-auto">
					<h1 class="text-2xl">
						<a href="/">yazzy</a>
					</h1>
					<p class="text-xs">Plain ol' reading</p>
				</div>
				<details class="relative">
					<summary>Settings</summary>
					<div
						class="absolute -left-10 border-black border-2 p-2 bg-inherit rounded-lg bg-white m-2"
					>
						<Settings />
					</div>
				</details>
				<a
					href="https://github.com/carterworks/yazzy"
					target="_blank"
					rel="noreferrer"
					class="underline"
				>
					Github
				</a>
			</nav>
			<slot />
		</div>
	</body>
</html>
